* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop P One', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.container {
    width: 500px;
    height: 300px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    background-color: #b8e5ff;
}

.trex {
    width: 50px;
    height: 60px;
    position: absolute;
    bottom: 0;
    user-select: none;
    margin-left: 5px;
    opacity: .7;
}

.jump {
    animation: jump .3s linear;
}

@keyframes jump {
    0% {
        top: 180px;
    }

    30% {
        top: 150px;
    }

    50% {
        top: 120px;
    }

    80% {
        top: 150px;
    }

    100% {
        top: 180px;
    }
}

.cloud1 {
    height: 60px;
    width: 70px;
    position: absolute;
    top: 0;
    left: 500px;
    user-select: none;
    animation: cloud1 3s infinite linear;
}

.cloud2 {
    height: 60px;
    width: 70px;
    position: absolute;
    top: 80px;
    left: 300px;
    user-select: none;
    animation: cloud2 6s infinite linear;
}

.cloud3 {
    height: 60px;
    width: 70px;
    position: absolute;
    top: 30px;
    left: 500px;
    user-select: none;
    animation: cloud3 8s infinite linear;
}

.cactos {
    height: 50px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 500px;
    animation: block 2s infinite linear;
    user-select: none;
}

.stop {
    animation: none;
}

@keyframes block {
    0% {
        left: 580px;
    }

    100% {
        left: -20px;
    }
}

@keyframes cloud1 {
    0% {
        left: 580px;
    }

    100% {
        left: -70px;
    }
}

@keyframes cloud2 {
    0% {
        left: 680px;
    }

    100% {
        left: -70px;
    }
}

@keyframes cloud3 {
    0% {
        left: 500px;
    }

    100% {
        left: -70px;
    }
}

.gameover {
    width: 200px;
    height: 100px;
    background-color: rgb(151, 151, 151);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 100px auto;
    display: none;
    user-select: none;
}

.gameover button {
    padding: 5px 20px;
    background-color: #575757;
    color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.scoreBox {
    margin: 40px auto;
    user-select: none;
}

.Score {
    font-size: 20px;
}

@media screen and (max-width:500px) {
    .container {
        width: 300px;

    }
}